.root {
}
.wrap {
	width: 50vw;
	padding: 24px;
	background: var(--white-color);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-height: 90vh;
	overflow: scroll;
}

.wrap input {
	min-height: 35px;
}

.root select {
	font-weight: bold;
}
