.root {
	padding: 24px;
}
.create {
	background: var(--black-color) !important;
	color: var(--white-color) !important;
	padding: 8px 32px !important;
	position: fixed;
	right: 24px;
	top: 24px;
}
.create:hover {
	filter: brightness(1.5);
}
/* .create:active {
	filter: grayscale(1);
} */
.btns {
	display: flex;
	gap: 8px;
}
.dates {
	display: flex;
	gap: 8px;
}

.header {
	width: 50vw;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 24px;
}

.main {
}
.title {
	margin-bottom: 8px;
}
main .head {
	padding-bottom: 24px;
	border-bottom: 1px solid var(--gray-thin-color);
}
.danger {
	color: var(--danger-color);
}

.subtitle {
	margin-left: 24px;
	margin-top: 8px;
}

.head .item {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
}

.content {
	padding: 24px 0;
}
